<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>main</title>
</head>
<body>
<h2>회원 전용 페이지</h2>
ID : <span sec:authentication="name"></span> <br>
소유 권한 : <span sec:authentication="authorities"></span> <br>

<form id="logout" action="/logout" method="GET">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="submit" value="로그아웃"/>


    <!--    <div  > Has Authority USER: <input type="submit" value="수정"/></div>-->
</form>
<form sec:authorize="hasAuthority('ROLE_ADMIN')"  th:action="@{/pwupdate}"  method="POST">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="text" th:name="pwupdate"  placeholder="이메일 입력"/>
    <button type="submit">초기화</button>

    <!--    <div  > Has Authority USER: <input type="submit" value="수정"/></div>-->
</form>

<!--<div sec:authorize="hasAuthority('ROLE_ADMIN')" class="in-line">-->
<!--    <input type="text" name="name" value="" placeholder="이메일 입력">-->
<!--    <input type="button" name="name" value="비번 초기화">-->
<!--</div>-->

</body>
</html>